body {
    margin:0px;
    background-color:#191970;
    font-family: 'Coda Caption', sans-serif;
}

.squares {
    border: 1px solid black;
    font-size: 75px;
    text-align: center;
    max-width: 100px;
    max-height:100px;
    min-width: 100px;
    min-height:100px;
}

#ticTacToeLogo {
    color:yellow;
}

#winnerText {
    
    text-align: center;
}

#winnerTextWrapper {
    position:fixed;
    left:40%;
    top:12%;
}

#header {
    text-align: center;
    margin-top:50px;
}

#restart {
    margin-top:50px;
    text-align: center;
    
}

#restartButton {
    height:75px;
    width:150px;
    border:none;
    font-size:25px;
    background-color: grey;
    border-radius: 2.5%;
}

#playerOneBoard{
    float:left;
    position:relative;
    top:12%;
    left:15%;
}

#playerOneBoard > p {
    text-align: center;
}

#playerTwoBoard{
    float:right;
    position:relative;
    bottom:26%;
    right:18%;
}

#playerTwoBoard > p {
    text-align: center;
}

.active{
  
}

.squares:hover {
    background-color: gray;
}

#wrapper {
    margin:auto;
    margin-top:5%;
    position:Relative;
    right:5%;
    height:300px;
    width:300px;
    display:grid;
    grid-template-columns: 100px 100px 100px;
}

/* .s1 {
    border: 1px solid black;
    text-align: center;
    font-size: 100px;
    overflow: hidden;
}

.s2 {
    border: 1px solid black;
  
}

.s3 {
    border: 1px solid black;

}

.s4 {
    border: 1px solid black;
  
}

.s5 {
    border: 1px solid black;
   
}

.s6 {
    border: 1px solid black;

}

.s7 {
    border: 1px solid black;
}

.s8 {
    border: 1px solid black;
}

.s9{
    border: 1px solid black;
}  */

